* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  line-height: 1.6;
}
html {
  font-size: 62.5%;
}
.header {
  width: 100%;
  height: 100vh;
  position: relative;
  perspective: 100rem;
  overflow: hidden;
}
.img-wrapper {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  animation: scale 25s;
}
.banner {
  position: absolute;
  top: 30%;
  left: 15%;
}
.banner h1 {
  font-family: 'Baloo Da 2', sans-serif;
  font-size: 8rem;
  font-weight: 300;
  color: #fff;
  width: 50%;
  line-height: 9rem;
  letter-spacing: 0.2rem;
  text-shadow: 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  animation: moveBanner 1s 0.7s forwards;
}
.banner p {
  font-family: 'Josefin Slab', sans-serif;
  font-size: 4rem;
  color: #fff;
  width: 70%;
  letter-spacing: 0.1rem;
  margin-bottom: 3rem;
  text-shadow: 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  animation: moveBanner 1s 0.9s forwards;
}
.banner button {
  width: 25rem;
  height: 7rem;
  background-color: #c29525;
  font-family: 'Muli', serif;
  border: none;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  opacity: 0;
  animation: moveBanner 3s forwards;
}
.mybr {
  border: 1px solid red;
}
.hamburger-menu {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: right 0.7s;
}
.line {
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
}
.hamburger-menu.active {
  right: 33rem;
}
.hamburger-menu.active .line {
  background-color: #555;
}

.hamburger-menu.active .line-1 {
  transform: translateY(8px) rotate(45deg);
  transition: all 0.5s;
}
.hamburger-menu.active .line-3 {
  transform: translateY(-8px) rotate(-45deg);
  transition: all 0.5s;
}
.hamburger-menu.active .line-2 {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
/* sidebar */
.sidebar {
  width: 40rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -40rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  justify-content: center;
  align-items: center;
  transition: right 0.5s;
}
.sidebar.active {
  right: 0;
}
.menu-link {
  font-family: 'Baloo Da 2', serif;
  font-size: 4rem;
  color: #555;
  transition: all 0.3s;
}
.menu-link:hover {
  color: #c29525;
}
.social-media {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-media i {
  font-size: 2.2rem;
  margin: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #777;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.social-media i:hover {
  background-color: #c29525;
}

/* css keyframes for bg image of header */
@keyframes scale {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
/* keyframe for banner i.e. content of header */
@keyframes moveBanner {
  0% {
    transform: translateY(40rem) rotateY(-20deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

/* Responsiveness */
@media (max-width: 1500px) {
  .about-us-img-wrapper {
    grid-row: 3 / -1;
  }

  .card {
    width: 34rem;
  }

  .contact-wrapper {
    width: 80%;
    height: 65rem;
  }

  .footer-content {
    width: 80%;
  }
}

@media (max-width: 1400px) {
  .banner h1 {
    font-size: 6rem;
    line-height: 7rem;
  }
  .banner {
    top: 25%;
    left: 10%;
  }
  .banner p {
    font-size: 3rem;
  }

  .banner button {
    width: 20rem;
    height: 5rem;
    font-size: 1.6rem;
  }

  .menu-link {
    font-size: 3rem;
  }

  .service:nth-child(1) {
    grid-column: 3 / 7;
  }

  .service:nth-child(2) {
    grid-column: 2 / 6;
  }

  .service:nth-child(3) {
    grid-column: 3 / 7;
  }

  .service:nth-child(4) {
    grid-column: 11 / 15;
  }

  .service:nth-child(5) {
    grid-column: 12 / 16;
  }

  .service:nth-child(6) {
    grid-column: 11 / 15;
  }
}

@media (max-width: 1300px) {
  .team {
    padding-bottom: 5rem;
  }

  .cards-wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }

  .card {
    margin-bottom: 8rem;
  }

  .contact-wrapper {
    width: 90%;
    height: 55rem;
  }

  .contact-heading {
    margin-bottom: 2rem;
  }

  .field {
    margin: 2rem 0;
  }
}

@media (max-width: 1000px) {
  .banner h1 {
    font-size: 5rem;
    line-height: 6rem;
  }

  .banner p {
    font-size: 2.5rem;
  }

  .banner button {
    width: 18rem;
    height: 4rem;
    font-size: 1.5rem;
  }

  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service {
    width: 40rem;
    margin-bottom: 6rem;
  }

  .about-us-img-wrapper {
    width: 40rem;
  }

  .about-us-img-wrapper img {
    width: 100%;
  }

  .contact-left {
    width: 0;
  }

  .contact-right {
    width: 100%;
  }

  .field {
    width: 55rem;
  }

  .input-group textarea {
    max-width: 55rem;
  }

  .submit-btn {
    width: 55rem;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
  }

  .copyright {
    order: 1;
    margin-top: 3rem;
  }
}

@media (max-width: 700px) {
  .banner h1 {
    font-size: 4rem;
    line-height: 5rem;
  }

  .banner p {
    font-size: 2rem;
  }

  .field {
    width: 35rem;
  }

  .input-group textarea {
    max-width: 35rem;
  }

  .submit-btn {
    width: 35rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 45%;
  }

  .sidebar {
    width: 100%;
    right: -100%;
  }

  .change .hamburger-menu {
    right: 38rem;
  }

  .service {
    width: 30rem;
  }

  .footer {
    height: 18rem;
  }
}
